html,body{
margin:0;
padding:0;
}
.homepage{
}
.logo{
display:block;/*Centers the image horizontally*/
margin:0 auto;/*Centers*/
max-width:500px;
max-height:500px;
height:auto;
width:auto;

}
.form{
display:block;
text-align: center;
}
/*Search Bar*/
input{
width: 400px;
min-width: 200px;
position:relative;
top:-80px;
}
/*Unordered list buttons*/
.border{
text-align:center;
position:relative;
right:14px;
bottom:65px;
}
.border li{
margin: 0px 5px;
display:inline-block;

}

.btn{
padding:9px 9px;
font-family:arial,sans-serif;
font-weight:bold;
font-size:11px;
background-color:#f2f2f2;
color:#757575;
}
.grid_image{
width:15px;
height:15px;
position:relative;
top:2px;
}
.sign_in{
background-color: #4285f4;
font-weight:bold;
padding: 3px 5px;
color:white;
border:none;

}
header{
position:absolute;
top:0;
width:100%;

}
.left_header, .right_header, .left_footer ,.right_footer{
padding:0;
margin: 5px 9px;

}
.left_footer{
float:left;
}

.right_footer{
float:right;

}
.left_header{
float:left;

}
.right_header{
float:right;

}
li{
display:inline-block;
margin: 3px 8px; 
font-size: 12px;
font-family: arial, sans-serif;

}
footer{
background-color:gainsboro;
width:100%;
z-index:3;
position:absolute;
bottom:0;
}
